<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">

<style>
    body {
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
    }

    .container-footer {
        width: auto;
        padding: 15px;
    }
</style>

<script>
    // @formatter:off
    window.ExternalLinks = {};
    ExternalLinks.lang = {};
    ExternalLinks.lang['modal.delete'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:modal.delete')}";
    ExternalLinks.lang['modal.delete.sure?'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:modal.delete.sure?')}";
    ExternalLinks.lang['modal.edit'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:modal.edit')}";
    ExternalLinks.lang['action.delete'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:action.delete')}";
    ExternalLinks.lang['action.cancel'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:action.cancel')}";
    ExternalLinks.lang['action.update'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:action.update')}";
    ExternalLinks.lang['message.add.success'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:message.add.success')}";
    ExternalLinks.lang['message.edit.success'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:message.edit.success')}";
    ExternalLinks.lang['message.error'] = "{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:message.error')}";
    // @formatter:on
</script>

<div class="element-browser-panel element-browser-main">
    <div class="element-browser-main-content">
        <div class="element-browser-body">
            <div class="dataTables_wrapper">
                <table id="table-external-links"
                       class="table table-striped table-hover typo3-extension-list dataTable"
                       width="100%">
                    <thead>
                    <tr>
                        <th style="width: 30px"></th>
                        <th>Url</th>
                        <th>Note</th>
                        <th style="width: 90px"></th>
                    </tr>
                    </thead>
                </table>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-footer">
        <form id="form-external-link" class="form-inline pull-right">
            <input type="hidden" id="field-uid" name="uid" value="0">
            <div class="form-group">
                <label for="field-url" class="sr-only">
                    <f:translate key="LLL:EXT:external_links/Resources/Private/Language/tx_externallinks_domain_model_externallink.xlf:url"/>
                </label>
                <input class="form-control input-sm"
                       id="field-url"
                       required
                       name="url"
                       style="min-width: 350px;"
                       placeholder="{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:url.placeholder')}">
            </div>
            <div class="form-group">
                <label for="field-note" class="sr-only">
                    <f:translate key="LLL:EXT:external_links/Resources/Private/Language/tx_externallinks_domain_model_externallink.xlf:note"/>
                </label>
                <input class="form-control input-sm"
                       name="note"
                       id="field-note"
                       style="min-width: 250px;"
                       placeholder="{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/tx_externallinks_domain_model_externallink.xlf:note')}">
            </div>
            <button type="submit"
                    class="btn btn-default input-sm"
                    id="form-external-link_new"
                    style="padding-top: 3px"
                    title="{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:action.new')}">
                <core:icon identifier="actions-document-save-new"/>
            </button>
            <button type="submit"
                    class="btn btn-default input-sm"
                    id="form-external-link_save"
                    style="padding-top: 3px; display: none"
                    title="{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:action.edit')}">
                <core:icon identifier="actions-document-save"/>
            </button>
            <button type="button"
                    class="btn btn-default input-sm"
                    id="form-external-link_cancel"
                    style="padding-top: 3px; display: none"
                    title="{f:translate(key: 'LLL:EXT:external_links/Resources/Private/Language/locallang.xlf:action.cancel')}">
                <core:icon identifier="actions-close"/>
            </button>
        </form>
    </div>
</footer>

</html>